body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  background-color: white;
  text-decoration: none;
  font-family: Inter Arial, Helvetica, sans-serif;
  color: black;
  display: block;
}

.Padding {
  margin-top: 50px;
  background-color: #344a72;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 360px;
  height: 500px;
}

.Content-text {
  padding: 15px 20px 10px;
}

.Form {
  margin-top: 0;
}

.Content span {
  font-size: 23px;
  font-weight: bold;
  margin: 30px 100px;
}

.Content p {
  font-weight: 5%;
  font-size: 12px;
  margin: 6px 70px 0px;
}

.Content-text label {
  font-size: 12px;
  font-weight: 80%;
}

.Content-text input {
  border: 1px black solid;
  border-radius: 3px;
  width: 302px;
  height: 28px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.Content-text button {
  background-color: #49c1a2;
  width: 309px;
  height: 35px;
  margin: 3px 0px 0px 0.5px;
  border: 2.7px black solid;
  border-radius: 1px;
  color: white;
  font-weight: 100%;
  font-size: 10px;
  margin-left: 1px;
}

.Para1 {
  font-size: 6px;
}

.Login {
  font-size: 14px;
  color: white;
  margin: 0px 0px 30px 70px;
}
.Login a {
  text-decoration: none;
  color: #49c1a2;
}

.Privacy-n-policy {
  font-size: 2px;
}
