* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #344a72;
}
.sign-up {
    width: 360px;
    height: 550px;
    position: relative;
    margin: auto;
    padding: 15px;
    background-color: #fff;
}
h1,p {
    text-align: center;
}
form {
    width: 300px;
    margin-left: 20px;
}
form label {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}
form input {
    border: none;
    border-radius: 6px;
    border: 1px solid #808080;
    width: 100%;
    padding: 7px;
    outline: none;
}

input[type="button"] {
    width: 320px ;
    height: 40px;
    border: 2px solid black;
    margin-top: 20px;
    font-size: 18px;
    background-color: #49c1a2;
    color: #fff; 
    transition: 2s;   
}
input[type="button"] :hover {
    background-color: #37a08e;
    transition: 2s;
}
.button-text {
    margin-top: 20px;
    font-size: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px 0;
}
footer a {
    color: #49c1a2;
}