body {
    background-color: #344a72;
    font-family: raleway;
}
.container {
    width: 360px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 3px; 
}
.container h1{
    text-align: center;
    padding-top: 20px;
    
}
.container h4{
    text-align: center;
    font-size: small;
    font-weight: lighter;
}
.container form{
    width: 300px;
    margin-left: 20px;
}
.container form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-size: small;
    font-weight: lighter;
}
.container form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
.container form input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: 4px solid black;
    border-radius: 0px;
    background-color: #49c1a2;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.container p{
    text-align: center;
    padding-top: 20px;
    font-size: small;
    font-weight: lighter;
    line-height: 1.5;
}
.account {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.account a{
    color: #49c1a2;
}