@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #344a72;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.the-form {
  height: 580px;
  width: 300px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head h1 {
  font-size: 30px;
  font-weight: 500;
}

.head p {
  font-size: 14px;
  font-weight: 400;
  color: grey;
  margin: 10px 0 18px 0;
}

input {
  display: block;
  margin: 5px 0 15px 0;
  width: 248px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

label {
  color: gray;
  font-size: 14px;
}

.button button {
  padding: 5px 100px 5px 100px;
  background: #49c1a2;
  color: white;
  margin: 10px 0 10px 0;
}

.button button:hover {
    background-color: #37a08e;
}

.privacy p {
  font-size: 11px;
  color: grey;
}

.privacy a {
  text-decoration: none;
  color: blue;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0 0 0;
    gap: 5px;
}
.login {
display: flex;
justify-content: center;
align-items: center;
}

.login p {
font-size: 12px;
font-weight: 500;
color: white;
}

.login span {
    color: #49c1a2;
}
